.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: #7C7C7C;
    float: left;
    padding: 8px 14px;
    text-decoration: none;
  }
  
  .pagination a.active {
    color: red;
  }
  