.card {
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 20px !important;     
}
.card-img-top {
    border-radius: 10px 10px 0px 0px !important;
}
.card-title {
    font-size: 13px;
    font-weight: bold;  
    font-stretch: normal;  
    font-style: normal;  
    line-height: normal;  
    letter-spacing: normal;     
    line-height: 19px;
    text-transform: capitalize;
    color: #3C3C3C;
}
.card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: justify;
    color: #7C7C7C;
}
.font-footer {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #3C3C3C;
}