h3 {
    font-family: Poppins !important;
    font-style: normal !important;
    font-weight: 1000 !important;
    font-size: 24px !important;
    line-height: 36px !important;
    text-transform: capitalize !important;
}
.badge {
    width: 155px;
    height: 38px;
    text-align: center;
    background: #D3DDFF !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    text-transform: capitalize !important;
    }
.badge-text {
    color: #405CC3;
}
.card-img-top {
    position: absolute;
    width: 640px !important;
    height: 496px;
    border-radius: 10px !important;
}
.card {
    width: 455px;
}
.btn-danger {
    width: 455px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px !important;
    font-weight: bold !important;
}
.button-share {
    width: 455px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px !important;
    color: brown;
    border-color: brown;
    background-color: cornsilk;
    font-weight: bold !important;
}
.text-donasi {
    text-align: center;
    margin-top: 17px;
    font-size: 17px;
    color: #7C7C7C;
}
.duit-donasi {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
.waktu {
    margin-left: 13px;
    color: #7C7C7C;
    font-size: 18px;
}
.text-hari {
    margin-left: 13px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}
.partisipan {
    margin-right: 13px;
    color: #7C7C7C;
    font-size: 18px;
}
.text-jumlah {
    margin-right: 13px;
    font-size: 24px;
    font-weight: 500;
}
.img-thumbnail {
    margin-top: 510px;
}
.img-thumbnail-kedua {
    margin-top: 510px;
    margin-left: 15px;
}