.card {
    display: flex;
    height: 100%;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
}
.img-fluid {
    width: 123px;
    height: 123px;
}
.text-profile {
    margin-top: 24px;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
}
.text2 {
    margin-top: 10px !important;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #7C7C7C;
}
.text3 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #7C7C7C;
}


