.menu-nav {
    margin-left: 145px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;  
    line-height: normal;  
    letter-spacing: normal;
}

