@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
    background-color: #d7433b;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;  
    font-weight: 500;  
    font-stretch: normal;  
    font-style: normal;
    text-align: justify;
    line-height: 1.67;  
    letter-spacing: normal;  
    color: var(--white);
}
.footer-bottom {
    background-color: #c50e04;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}